<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLCMND.Properties.Settings.QLCMNDConnectionString"
            connectionString="Data Source=DESKTOP-FGTTSD7\SQLEXPRESS;Initial Catalog=QLCMND;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>